@import "../fontawesome/css/all.css";

#banner-slider-carousel {
    position: relative;
    .owl-nav {
        display: block!important;
    }
}

body {
    background: #fff;
    #banner-slider-carousel {
        position: relative;
        .owl-nav {
            display: block!important;
        }
    }
}
